body {
    font: normal 12px/1.6em Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #ededed;
}
ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #000000;
}
.active {
    background-color: #6590cb;
}
li {
    float: left;
}
li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}
li a:hover,
.dropdown:hover .dropbtn {
    background-color: #5a1010;
}
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: block;
}
#slideshow {
    text-align: left;
    width: 632px;
    padding: 5px;
}
#logo {
    margin-bottom: 20px;
    font: normal 18px Georgia, serif;
    color: #ffffff;
    padding: 15px;
}
#main-content {
    margin: 0 auto;
}
#left-column {
    width: 300px;
    padding: 0 30px 30px;
    float: left;
}
p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-shadow: 5px 5px 5px #f8efef;
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
p.wrap {
    width: 300px;
    border: 1px solid #000000;
    word-break: break-all;
    box-shadow: 5px 5px 5px #f8efef;
}
#main-content {
    margin: 0 auto;
}
#main-image {
    text-align: center;
}
#left-column {
    width: 500px;
    padding: 0 30px 30px;
    float: left;
}
#right-column {
    width: 500px;
    float: right;
    padding: 0 30px 30px;
}
#footer {
    background: #f5f7fa;
    border-top: 1px solid #f0e9eb;
    padding: 10px 15px;
    clear: both;
}
h1 {
    color: #7a2e40;
    margin: 0 0 10px;
    padding-bottom: 10px;
    font: normal 17px Georgia, serif;
    border-bottom: 1px solid #efece7;
}
h2 {
    color: #7a2e40;
    margin: 20px 0 10px;
    padding-bottom: 10px;
    font: normal 17px Georgia, serif;
    border-bottom: 1px solid #efece7;
}
h3 {
    font-family: "Times New Roman", Times, serif;
    color: #7a2e40;
    margin: 10px 0;
    padding-bottom: 10px;
    font: bold 16px Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #efece7;
}
.box {
    background: #f7f7f7;
    border: 1px solid #f0e9eb;
    padding: 15px;
}
#logo {
    margin-bottom: 20px;
    font: normal 18px Georgia, serif;
    color: #fa7393;
}
section.container {
    width: 100%;
    border: 1px solid gray;
    padding: 15px;
    font-size: 14px;
}
.button {
    display: inline-block;
    border-radius: 2px;
    background-color: #f4511e;
    border-style: solid;
    border-color: #000000;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button span:after {
    content: '»';
    position: absolute;
    opacity: 5;
    top: 0;
    right: -10px;
    transition: 0.5s;
}
.button:hover span {
    padding-right: 12px;
}
.button:hover span:after {
    opacity: 1;
    right: 0;
}
#grad1 {
    height: 100px;
    background: white;
    background: linear-gradient(to right, black, white, black);
}
a[target] {
    background-color: yellow;
}